In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
movies = pd.read_csv('movies2004.csv')

In [ ]:
plot = movies['Plot'][27]

In [ ]:
# Removing punctuation
import string
nopunc = [char for char in plot if char not in string.punctuation]
nopunc = ''.join(nopunc)

In [ ]:
# Removing stopwords
import nltk
from nltk.corpus import stopwords
nostops = [word.lower() for word in nopunc.lower().split() if word not in stopwords.words('english')]

In [ ]:
#Narazie niepotrzebne. Reguła szukająca dwóch wyrazów po sobie na wielką literę
'''import re
names = re.findall(r'([A-Z][a-zA-Z]+(?=\s[A-Z])(?:\s[A-Z][a-zA-Z]+)+)', plot)'''

In [ ]:
'''from nltk.tag import pos_tag
tagged = pos_tag(nopunc.split())
propernouns = [word for word,pos in tagged if pos == 'NNP']'''

In [267]:
# Using NLP library - spacy - to label words and pick persons
import spacy
import en_core_web_sm
nlp = en_core_web_sm.load()
doc = nlp(plot)

pers_labels = [(w.text, w.label_) for w in doc.ents]

# Counter counts occurances of list items
from collections import Counter
key,label = zip(*Counter(pers_labels).keys())

key_label_count = pd.DataFrame.from_records([Counter(pers_labels).values(), key, label]).transpose()
key_label_count.rename(columns={0:'Count', 1:'Key', 2:'Label'}, inplace=True)
key_label_count.sort_values('Count', ascending=False, inplace=True)
key_label_count

    Count                            Key        Label
25     45                         Cooper       PERSON
21     41                          Murph       PERSON
41     20                          Earth          LOC
18     17                            Tom       PERSON
47     14                           Mann       PERSON
5      12                           NASA          ORG
16     11                         Donald       PERSON
37      9                          Brand       PERSON
36      9                         Cooper          GPE
56      8                            one     CARDINAL
82      7                          Brand          GPE
26      6                            two     CARDINAL
69      6                      Endurance          ORG
48      6                         Edmond       PERSON
110     6                          Getty       PERSON
46      5                         Miller       PERSON
72      5                         Amelia          GPE
61      4                           CASE          ORG
40      4                      Gargantua       PERSON
83      4               Cooper and Brand          ORG
62      4                      Endurance       PERSON
38      3                         Saturn      PRODUCT
49      3                          three     CARDINAL
64      2                         Saturn          GPE
86      2                    Earth years         DATE
44      2                             12     CARDINAL
116     2                         Ranger       PERSON
34      2                   Amelia Brand       PERSON
87      2                        Romilly       PERSON
101     2                           Coop       PERSON
..    ...                            ...          ...
3       1                     Joe Cooper       PERSON
35      1                  Anne Hathaway          FAC
39      1              three potentially     QUANTITY
42      1               about 50 million     CARDINAL
66      1                          Dodge          ORG
80      1                    CASE, Doyle          ORG
79      1                10 years before         DATE
78      1                   just an hour         TIME
77      1                   just minutes         TIME
76      1                          Doyle          GPE
75      1              seven Earth years         DATE
74      1                      each hour         TIME
73      1  around 10 billion light years        MONEY
70      1                           2001         DATE
68      1                Two years later         DATE
67      1                         Cooper      PRODUCT
65      1                           2010         DATE
43      1              Ten years earlier         DATE
63      1                       two-year         DATE
60      1                    David Gyasi       PERSON
59      1                        Nikolai       PERSON
58      1                    Wes Bentley       PERSON
57      1                          Doyle       PERSON
54      1               The next morning         TIME
53      1                   The next day         DATE
52      1                         twelve     CARDINAL
51      1               Cooper the Earth  WORK_OF_ART
50      1                the last minute         TIME
45      1                     only three     CARDINAL
142     1                           Mars          LOC

[143 rows x 3 columns]